header{
  text-align: center;
  font-family: 'Times New Roman';
  background-image: linear-gradient(direction, color-stop1, color-stop2,);
}
img{
  width: 120px;
  height: auto;

}
h2{
  font-size: 50px;
  background: -webkit-linear-gradient(hsl(0, 97%, 55%), #736a6a);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
