<div>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="ProfilePhoto">Choose your Profile Image</label><span class="space">
      <input type="file" name="ProfilePhoto" id="ProfilePhoto"  [(ngModel)]="chossenImage">
    </span>
    </p>
    <p><label for="FullName">Enter Your Full Name:</label><span class="space">
    <input id="FullName" type="text" class="FullName" name="FullName" [(ngModel)]="enteredFullName"></span> </p>
    <p><label for="Email">Enter Your Email Address:</label><span class="space">
      <input id="Email" type="text" class="email" name="Email" [(ngModel)]="enteredEmail"> </span></p>
      <p><label for="PhoneNumber">Enter Your Contact Number</label><span class="space">
        <input id="PhoneNumber" type="text" class="email" name="PhoneNumber" [(ngModel)]="enteredPhoneNumber"> </span></p>
        <p>
          <label for="Address">Current Address</label><span class="space">
          <textarea id="Address" rows="5" name="Address" [(ngModel)]="enteredAddress"></textarea></span>
        </p>
        <p>
          <button><b>Submit</b></button>
        </p>
  </form>
</div>
